.about-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.about-section {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 1rem;
}

.about-section__img {
  max-width: 100%;
}

.about-section__text {
  text-align: justify;
  text-justify: inter-word;
}

hr {
  border: hidden;
  border-top: 3px double #bbb;
}
