*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100vh;
  padding: 0px;
  font-family: "Montserrat", sans-serif;
}

.App {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}

a {
  color: #12121d;
  outline: none;
  text-decoration: none;
}

a:hover {
  color: white;
}

a:active {
  position: relative;
  bottom: -1px;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: #ebabbc;
  background: linear-gradient(
    0deg,
    rgba(235, 171, 188, 1) 0%,
    rgba(249, 218, 226, 1) 100%
  );
  color: #12121d;
  position: sticky;
}

.nav-links {
  width: 45%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.app__categories {
  background-color: rgb(200, 152, 245);
  width: 80%;
  margin: 2rem auto;
}

.gallery__elements {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 24.6vw);
  padding: 1rem;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery__element--1 {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.gallery__element--2 {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.gallery__element--3 {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
}

.gallery__element--4 {
  grid-column: 1 / 2;
  grid-row: 2/ 3;
}

.gallery__element--5 {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.gallery__element--6 {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}
