*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  padding: 0px;
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}

a {
  color: #12121d;
  outline: none;
  text-decoration: none;
}

a:hover {
  border-bottom: 1px #12121d solid;
}

a:active {
  position: relative;
  bottom: -1px;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: #ebabbc;
  background: linear-gradient(
    0deg,
    rgba(235, 171, 188, 1) 0%,
    rgba(249, 218, 226, 1) 100%
  );
  color: #12121d;
  position: sticky;
  margin-bottom: 16px;
}

.title {
  font-weight: bold;
}
.nav-links {
  width: 45%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

main {
  display: flex;
  justify-content: center;
}

.container {
  max-width: 330px;
  width: 330px;
  display: flex;
  justify-content: center;
  align-content: center;
}

.gallery-title {
  margin-bottom: 1rem;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 0.8rem;
  row-gap: 0.8rem;
}

.gallery-item {
  float: right;
  z-index: 0;
}

.gallery-item:active {
  position: relative;
  top: 1px;
}

.gallery-item__img {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  position: relative;
  width: 100%;
  overflow: hidden;
  display: block;
  z-index: -1;
  transition: 0.3s ease-in-out;
  -webkit-filter: blur(0px);
  filter: blur(0px);
}

.gallery-item__img:hover {
  -webkit-filter: blur(1.6px);
  filter: blur(1.6px);
}

.gallery-item__img-caption {
  background-color: rgba(61, 61, 61, 0.65);
  width: 100%;
  line-height: 24px;
  font-size: 1rem;
  margin-top: -3rem;
  float: right;
  text-align: center;
  color: white;
  font-weight: bold;
}
